<div class="track-container">
  <app-person-card class="person-card"
    [name]="'Jeremy Robson'"
    [(range)]="range"></app-person-card>
  <app-category-card *ngFor="let category of categories"
    [title]="category.title"
    [time]="category.timeframes[ReportRange[range]].current"
    [prevTime]="category.timeframes[ReportRange[range]].previous"
    [img]="'/assets/icon-' + category.title.toLowerCase().split(' ').join('-') + '.svg'"
    [period]="periodString"
    class="card"></app-category-card>
</div>